<% layout("./templates/index.ejs")%>
<link rel="stylesheet" href="/styles/follower.css">
</head>
<body>
  <!-- Followers Section Inside a Div -->
  <div class="followers-container">
    <h2 class="page-title">Followings</h2>
    <div class="followers-list">
      <!-- Follower Card -->
       <%User.following.forEach((following)=>{%>
        <div class="follower-card">
            <img src="<%=following.userImg%>" alt="Profile Picture" class="follower-image">
            <a href="/profile/view/<%=following._id%>" class="follower-details">
              <h3 class="follower-name"><%=following.name%></h3>
              <p class="follower-headline"><%=follower.about%></p>
            </a>
            <div class="follower-actions">
              <a href="/profile/message" class="btn message">Message</a>
              <%if(User._id.toString()==currUser.id.toString()){%>
              <a class="btn unfollow" href="/profile/unfollow/<%=following._id%>">Unfollow</a>
              <%}%>
            </div>
          </div>
       <%})%>
    </div>
  </div>
</body>
